*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
row-gap: 30px;
padding: 1rem;
background-color: rgb(184, 172, 172);
height : 100vh;

}



.TicTacToe{
  width: 90vw;
  max-width: 400px;
  aspect-ratio: 1/1;

  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 20px;


  border-radius: 12px;
  background: #111;
  padding: 12px;
}


.cell{
  background-color: yellowgreen;
  border-radius: 15px;
  font-size: 2rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.Reset-Button{
  max-width: 200px;
  width: 100%;
  height: 7vh;
  font-size: 18px;
  border-radius: 15px;
  padding: 1rem;
  cursor: pointer;
}

.message{
  font-size: 2.1rem;
  font-weight: 600;
}
